* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

:root {
    --primary-background-color: #fffaf5;
    --primary-font-tittle: "Sora", sans-serif;
    --primary-color: #000958;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* comman */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
a {
    text-decoration: none;
    color: #5e6085;
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
}
/* header */
.header {
    background-color: var(--primary-background-color);
    padding-top: 26px;
    height: 100vh;
    font-size: 1rem;
}
.header .container {
    justify-content: space-between;
}
.header__brand {
    display: flex;
    text-align: center;
}
.brand__img {
    width: 35px;
    height: auto;
    object-fit: cover;
}
.brand__name {
    color: var(--primary-color);
    font-size: 2.4em;
    font-weight: 700;
    padding: 6px 10px;
}
.header__nav {
    display: flex;
    width: 490px;
    justify-content: space-between;
    text-align: center;
}
.header__nav-item {
    padding: 18px 10px;
    font-size: 1.4em;
    color: #5e6085;
}
.nav-item--active {
    font-weight: 600;
    color: var(--primary-color);
}
.header__action-btn {
    font-size: 1.4em;
    font-weight: 600;
    padding: 14px 32px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--primary-background-color);
    border-radius: 25px;
}
/* hero */
.hero {
    margin-top: 100px;
    font-size: 1rem;
}
.hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hero__cards {
    position: relative;
}
.cards__media {
    display: flex;
    align-items: end;
}

.cards__main-card {
    position: relative;
    width: 382px;
    height: 482px;
    background-color: #fe997b;
    border: 3px solid white;
    border-radius: 16px;
}
.main-cards__img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    border-radius: 16px;
}
.main-card__decor {
    position: absolute;
}
.cards__sub-card {
    position: relative;
    margin-left: -20px;
    transform: translateY(56px);
    width: 182px;
    height: 240px;
    background-color: #faa7ad;
    border: 2px solid white;
    border-radius: 16px;
}
.sub-cards__img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    border-radius: 16px;
}
.cards__info-card {
    position: absolute;
    top: 426px;
    right: 212px;
    background-color: white;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.info-card__pet {
    display: flex;
}
.seperate {
    width: 222px;
    margin-left: 18px;
    margin-right: 18px;
    background-color: #eee;
    height: 2px;
    border-radius: 1px;
}
.pet__bg-img {
    background-color: #fdbf3d;
    margin: 18px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.info-card__pet:nth-child(3) .pet__bg-img {
    background-color: #bcdaf5;
}
.pet__img {
    width: 100%;
    border-radius: 5px;
}
.info__inner-card {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.pet__title {
    color: var(--primary-color);
    font-family: "Sora", sans-serif;
    font-size: 1.4em;
    font-weight: 600;
}
.pet__skeleton-long {
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #eee;
    border-radius: 3px;
    width: 118px;
    height: 4px;
}
.pet__skeleton-short {
    background-color: #eee;
    border-radius: 3px;
    width: 39px;
    height: 4px;
}
