* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

:root {
    --primary-background-color: #fff2e5;
    --primary-font-tittle: "Sora", sans-serif;
    --primary-color: #000958;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* comman */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
a {
    text-decoration: none;
}
.contain {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
/* header */
#header {
    position: fixed;
    background-color: var(--primary-background-color);
}
#header .contain {
    margin-top: 26px;
}
.brand__img {
    width: 35px;
    height: auto;
    object-fit: cover;
}
.header__nav {
    display: flex;
}
